<html>
	<head>
		<title>descomplicando a sua vida</title>
	</head>
	<body style="background-color: #;">
		<center>
			For more: <br />
			<em>descomplicando.tv@gmail.com</em> <br />
			<em>fabricioraphael.b@gmail.com</em> <br />
			<em>@_descomplicando</em>
		</center>
	</body>
</html>